.body{
	background-image:url(/img/gps\ cuadrado__Mesa\ de\ trabajo\ 1.png);
	background-attachment: fixed;
    background-size: 99.9% 99.9%;
	background-repeat: no-repeat; 
	
	display: grid;
	grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 1;
}

#Contenedor{
	width: 420px;
	font-family: 'Montserrat', sans-serif;
	margin: 20px 150px ;
	height: 380px;
	padding: 20px 12px 0px 12px;
}

#email{
	width: 325px;
	border: 0px;
	border-bottom: 1px solid black;
	background: none;
	color: black;
	padding: 2px;
	font-size: 20px;
	margin-left: 5px;
}

#password{
	width: 295px;
	border: 0px;
	border-bottom: 1px solid black;
	background: none;
	color: black;
	padding: 2px;
	font-size: 20px;
	margin-left: 5px;
}

#IngresoLog{
	background-color: #fac103;
	border: 0px;
	width: 355px;
	height:38px;
	color: black;
	margin-bottom: 10px;
}

i{
	color: black;
	font-size: 18px;
	cursor: pointer;
}

.img{
	display: none;
}

@media screen and (max-width: 768px){
	
	.body{
		background-image: none;
	}

	.Icon{
		width: 200px;
		height: 125px;
		margin: 0px;
		padding: 0px;
		margin-left: 80px;
	}

	#Contenedor{
		grid-column-start: 1;
		grid-column-end: 2;
		margin: 50px 20px 0px 0px;
		width: 410px;
		background-color: white;
		height: 350px;
	}

	#email{
		width: 350px;
	}

	#password{
		width: 325px;
	}

	#IngresoLog{
		background-color: #fac103;
		border: 0px;
		width:386px;
		height:38px;
		color: black;
	} 

	.imagen{
		width: 410px;
		height: 330px;
		background-image:url(/img/gps\ cuadrado__Mesa\ de\ trabajo\ 1.png);
		background-size: 100% 330px;
		background-repeat: no-repeat;
		margin: 30px 10px 0px 0px;
		padding: 0;
	}
}